<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dobrowol.traininglog">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:theme="@style/Theme.AppCompat.Light"
        android:allowBackup="true"
        android:icon="@drawable/google"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <uses-library android:name="android.test.runner"
            android:required="false" />

        <activity android:name=".TrainingsApp"
            android:launchMode="singleTop">
            <intent-filter android:label="@string/filter_title">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode = "singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsApp" />
        </activity>
        <activity android:name=".adding_training.adding_exercise.AddExercise" android:theme="@style/Theme.AppCompat">

        </activity>

        <activity android:name=".adding_training.adding_exercise.AddExerciseDescription" android:theme="@style/Theme.AppCompat">

        </activity>

        <activity android:name=".training_load.displaying.ChartActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".TrainingsApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrainingsApp" />

        </activity>
        <activity android:name=".new_training.DateTimeActivity" android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
    </application>

</manifest>